<div class="header">
  <div class="header-container">
    <mat-toolbar class="navbar">
      <div class="navbar__right">
        <a href="#"
          ><mat-icon svgIcon="logo-tree" class="logo-tree"></mat-icon
        ></a>
        <span class="navbar-text-right">
          <p class="tree-of-knowledge">עץ הדעת</p>
        </span>
      </div>
      <div class="navbar__left">
        <button
          (click)="openDialog()"
          mat-button
          mat-raised-button
          class="navbar-left-button"
        >
          מפת התמצאות במאגר
        </button>
        <img
          src="/assets/img/navbar-avatar.png"
          alt="navbar-avatar"
          class="navbar-avatar"
        />
        <span class="navbar-text-left">
          <p class="navbar-name">אורי אייזיקוביץ</p>
          <p class="navbar-status">התנתק</p>
        </span>
        <div class="vl"></div>
        <img src="/assets/img/logo-kkl.png" alt="logo-kkl" class="logo-kkl" />
      </div>
    </mat-toolbar>
  </div>
</div>
