<div class="search-main-container">
  <div class="search-main-body">
    <div class="search-archive">
      <button type="button" class="search-archive__button" (click)="toggleMenu()">
        {{activeMenu.name || "ארכיון היער" }}
      </button>

      <div class="search-archive__dropdown" [ngClass]="{ active: toggle }">
        <div class="search-archive__dropdown-body">
          <ul class="search-archive__dropdown-list">
            <li class="search-archive__dropdown-list-item active" *ngFor="let menuItem of rootMenu">
              <p (click)="openSubmenu(menuItem, 1)">{{menuItem.name}}</p>

              <div class="search-archive__dropdown-submenu">
                <ul class="search-archive__dropdown-submenu-list" *ngIf="menuItem.children.length > 0">
                  <li class="search-archive__dropdown-submenu-item" *ngFor="let menuItemLevel2 of menuItem.children">
                    <p (click)="openSubmenu(menuItemLevel2, 2)">{{menuItemLevel2.name}}</p>

                    <div class="search-archive__dropdown-submenu">
                      <ul class="search-archive__dropdown-submenu-list" *ngIf="menuItemLevel2.children.length > 0">
                        <li class="search-archive__dropdown-submenu-item" *ngFor="let menuItemLevel3 of menuItemLevel2.children">
                          <a (click)="selectMenu(menuItemLevel3)">{{menuItemLevel3.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="search">
      <div class="search-container">
        <input
          type="text"
          class="search-input"
          id="search-input"
          placeholder="הקלד/י מילת חיפוש"
          autocomplete="off"
          [(ngModel)]="keyword"
        />
        <div (click)="searchFn()">
          <mat-icon svgIcon="search" class="search-icon"></mat-icon>
        </div>
      </div>
    </div>

    <div class="search-filters-button-wrapper">
      <button type="button" class="search-filters-button active">
        <img src="/assets/img/double-arrow-up.svg" alt="">
      </button>
    </div>

    <div class="search-filters active">
      <ul class="search-filters__list">
        <li class="search-filters__item">
          <label for="filter-1" class="search-filters__filter-wrapper">
            <input type="text" name="" placeholder="שם מסמך" id="filter-1" class="search-filters__filter">
          </label>
        </li>
        <li class="search-filters__item">
          <label for="filter-2" class="search-filters__filter-wrapper search-filters__filter-wrapper_select">
            <select name="" id="filter-2">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </label>
        </li>
        <li class="search-filters__item">
          <label for="filter-3" class="search-filters__filter-wrapper">
            <input type="text" name="" placeholder="מילות מפתח" id="filter-3" class="search-filters__filter">
          </label>
        </li>
        <li class="search-filters__item">
          <label for="filter-4" class="search-filters__filter-wrapper">
            <input type="text" name="" placeholder="שנת חיבור" id="filter-4" class="search-filters__filter">
          </label>
        </li>
        <li class="search-filters__item">
          <label for="filter-5" class="search-filters__filter-wrapper">
            <input type="text" name="" placeholder="שם מחבר" id="filter-5" class="search-filters__filter">
          </label>
        </li>
      </ul>
    </div>
  </div>

</div>
