<mat-dialog-content>
  <h2 class="modal-header">מפת התמצאות במאגר המידע</h2>
  <div class="modal-cards-container">
    <div class="modal-card" *ngFor="let menuItem of rootMenu">
      <div class="modal-card-title">Level 1  {{menuItem.name}}</div>
      <div class="modal-card-item" *ngFor="let menuItemLevel2 of menuItem.children">
        <div (click)="openSubmenu(menuItemLevel2, 2)">Level 2  {{menuItemLevel2.name}}</div>
        <ul class="modal-card-item-list active" *ngIf="menuItemLevel2.children.length > 0">
          <li *ngFor="let menuItemLevel3 of menuItem.children"><a href="#">Level 3  {{menuItemLevel3.name}}</a></li>
        </ul>
      </div>
    </div>
    <!-- container-ends -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">

</mat-dialog-actions>
<button mat-button mat-dialog-close></button>
