<mat-dialog-content>
  <h2 class="modal-header">מפת התמצאות במאגר המידע</h2>
  <div class="modal-cards-container">
    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
      <div class="modal-card-item">מפעל הייעור בישראל</div>
      <div class="modal-card-item">ארכיון היער</div>
      <div class="modal-card-item">אילנות</div>
      <div class="modal-card-item">מעמד קק״ל ביערות. ניהול היער</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
      <div class="modal-card-item">מפעל הייעור בישראל</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
      <div class="modal-card-item">מפעל הייעור בישראל</div>
      <div class="modal-card-item">ארכיון היער</div>
      <div class="modal-card-item">אילנות</div>
    </div>

    <div class="modal-card">
      <div class="modal-card-title">אקולוגיה, סביבה ויער בישראל</div>
      <div class="modal-card-item">שטחים פתוחים בישראל</div>
      <div class="modal-card-item">מיפוי צמח ארצי</div>
      <div class="modal-card-item">סוגיות סביבתיות מרכזיות בארץ ובעולם</div>
      <div class="modal-card-item">האקולוגיה של הצומח בארץ ישראל</div>
      <div class="modal-card-item">עצי היער בישראל</div>
      <div class="modal-card-item">נתונים כלליים על היערות</div>
      <div class="modal-card-item">מפעל הייעור בישראל</div>
    </div>
    <!-- container-ends -->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  
</mat-dialog-actions>
<button mat-button mat-dialog-close></button>
