<div class="hero-home">
  <app-search-bar></app-search-bar>
</div>

<div class="wrapper">
 <!--  <div *ngFor="let menuItem of rootMenu">
    <span (click)="openSubmenu(menuItem)">Level 1  {{menuItem.name}}</span>

    <div  *ngFor="let menuItemLevel2 of menuItem.children">
      <span>Level 2  {{menuItemLevel2.name}}</span>
      <div  *ngFor="let menuItemLevel3 of menuItemLevel2.children">
        <span>Level 3  {{menuItemLevel3.name}}</span>
      </div>
    </div>
  </div> -->

  <div class="home-buttons-block">
    <div class="home-buttons-container" *ngFor="let menuItem of rootMenu">
      <div class="card-button" (click)="openSubmenu(menuItem, 1)">
        <div class="card-button-icon">
          <mat-icon
            svgIcon="home-card-icon-1"
            class="home-card-icon"
          ></mat-icon>
        </div>
        <div class="card-button-text">Level 1  {{menuItem.name}}</div>
      </div>
      <div class="card-button-menu-container active">
        <ul class="card-button-menu-list active" *ngIf="menuItem.children.length > 0">
          <li class="card-button-menu-item submenu" *ngFor="let menuItemLevel2 of menuItem.children">
            <a (click)="openSubmenu(menuItemLevel2, 2)" class="pointer">Level 2  {{menuItemLevel2.name}} ></a>
            <ul class="card-button-menu-item-submenu active2" *ngIf="menuItemLevel2.children.length > 0">
              <li class="submenu-item" *ngFor="let menuItemLevel3 of menuItemLevel2.children">
                <a href="#">Level 3  {{menuItemLevel3.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="buttons-block-header">ברוכים הבאים למאגר המידע של קק״ל</h2>
    <div class="home-buttons-block">
      <div class="home-buttons-container">
        <div class="card-button" (click)="clickEvent($event)">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-1"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">אקולוגיה וסביבה</div>
        </div>
        <div class="card-button-menu-container" [ngClass]="{ active: toggle }">
          <ul class="card-button-menu-list active">
            <li class="card-button-menu-item"><a href="#">menu link</a></li>
            <li class="card-button-menu-item"><a href="#">menu link</a></li>
            <li class="card-button-menu-item">
              <a href="#">menu link </a>
            </li>
            <li class="card-button-menu-item submenu">
              <a (click)="clickEvent2($event)" class="pointer">submenu ></a>
              <ul
                class="card-button-menu-item-submenu"
                [ngClass]="{ active2: toggle2 }"
              >
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-2"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">תכנון יערות</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-3"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מידע יערני וניטור היער</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-4"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">ניהול עבודה יערנית</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-5"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">קהל ביער</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-6"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מניעה וכיבוי אש</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-7"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">קק״ל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-8"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">ממשק יער בקק״ל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-1"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">היער בישראל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-7"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מדיניות ניהול היער</div>
        </div>
      </div>
    </div>
    <h2 class="updates-block-header">לוח עדכונים</h2>
    <div class="updates-block">
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
    </div>

    <p>
      <a class="updates-link" href="">לכל העדכונים</a>
    </p>
    <div class="bottom">
      <img src="/assets/img/tree-bottom.png" alt="" />
    </div>
  </div>
</div>
