<div class="hero-home">
  <app-search-bar></app-search-bar>
</div>

<div class="wrapper">
 <!--  <div *ngFor="let menuItem of rootMenu">
    <span (click)="openSubmenu(menuItem)">Level 1  {{menuItem.name}}</span>
   
    <div  *ngFor="let menuItemLevel2 of menuItem.children">
      <span>Level 2  {{menuItemLevel2.name}}</span>
      <div  *ngFor="let menuItemLevel3 of menuItemLevel2.children">
        <span>Level 3  {{menuItemLevel3.name}}</span>
      </div>
    </div>
  </div> -->
  
    <div class="home-buttons-block">
      <div class="home-buttons-container" *ngFor="let menuItem of rootMenu">
        <div class="card-button" (click)="openSubmenu(menuItem, 1)">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-1"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">Level 1  {{menuItem.name}}</div>
        </div>
        <div class="card-button-menu-container active">
          <ul class="card-button-menu-list active" *ngIf="menuItem.children.length > 0">
            <li class="card-button-menu-item submenu" *ngFor="let menuItemLevel2 of menuItem.children">
              <a (click)="openSubmenu(menuItemLevel2, 2)" class="pointer">Level 2  {{menuItemLevel2.name}} ></a>
              <ul class="card-button-menu-item-submenu active2" *ngIf="menuItemLevel2.children.length > 0">
                <li class="submenu-item" *ngFor="let menuItemLevel3 of menuItemLevel2.children">
                  <a href="#">Level 3  {{menuItemLevel3.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div class="container">
    <h2 class="buttons-block-header">ברוכים הבאים למאגר המידע של קק״ל</h2>
    <div class="home-buttons-block">
      <div class="home-buttons-container">
        <div class="card-button" (click)="clickEvent($event)">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-1"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">אקולוגיה וסביבה</div>
        </div>
        <div class="card-button-menu-container" [ngClass]="{ active: toggle }">
          <ul class="card-button-menu-list active">
            <li class="card-button-menu-item"><a href="#">menu link</a></li>
            <li class="card-button-menu-item"><a href="#">menu link</a></li>
            <li class="card-button-menu-item">
              <a href="#">menu link </a>
            </li>
            <li class="card-button-menu-item submenu">
              <a (click)="clickEvent2($event)" class="pointer">submenu ></a>
              <ul
                class="card-button-menu-item-submenu"
                [ngClass]="{ active2: toggle2 }"
              >
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
                <li class="submenu-item">
                  <a href="#">submenu link</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-2"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">תכנון יערות</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-3"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מידע יערני וניטור היער</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-4"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">ניהול עבודה יערנית</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-5"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">קהל ביער</div>
        </div>
      </div>

      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-6"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מניעה וכיבוי אש</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-7"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">קק״ל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-8"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">ממשק יער בקק״ל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-1"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">היער בישראל</div>
        </div>
      </div>
      <div class="home-buttons-container">
        <div class="card-button">
          <div class="card-button-icon">
            <mat-icon
              svgIcon="home-card-icon-7"
              class="home-card-icon"
            ></mat-icon>
          </div>
          <div class="card-button-text">מדיניות ניהול היער</div>
        </div>
      </div>
    </div>
    <h2 class="updates-block-header">לוח עדכונים</h2>
    <div class="updates-block">
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
      <div class="updates-card">
        <div class="updates-card-date">11.02.2003</div>
        <div class="updates-card-text">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי
          נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת
          לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס
          בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.
        </div>
      </div>
    </div>

    <div class="files-table-section">
      <div class="files-table">
        <div class="files-table__header">
          <div class="files-table__header-item arrow">
            <p>סוג</p>
            <div class="files-table__header-item-dropdown active">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_1" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_1" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_2" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_2" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_3" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_3" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_4" class="checkbox__input" type="checkbox" value="4" name="form[]">
                    <label for="c_4" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p>שם הקובץ</p>
            <div class="files-table__header-item-dropdown active">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_5" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_5" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_6" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_6" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_7" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_7" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p>תאריך יצירה</p>
            <div class="files-table__header-item-dropdown active">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper input-wrapper_date">
                    <input type="date" class="date" id="files-table__header-date">
                  </label>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p>שם המחבר</p>
            <div class="files-table__header-item-dropdown active">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_8" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_8" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_9" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_9" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_10" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_10" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item">
            <p>פעולות</p>
          </div>
        </div>
        <div class="files-table__body">
          <ul class="files-table__list">
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type word">
                  <p>תמונה / שרטוט</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">תמונה שילוט</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>14.03.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>תמונה שילוט</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type pdf">
                  <p>תמונה / שרטוט</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">תמונה שילוט</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>20.03.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>תמונה שילוט</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type img">
                  <p>טופס</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">ביטול קבלה</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>14.03.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>ביטול קבלה</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type folder">
                  <p>אישור / תעודה</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">אישור מסירה של דואר ר…</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>18.02.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>אישור מסירה של דואר ר…</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type pdf">
                  <p>מכתב</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">זכאות להנחה</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>14.03.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>זכאות להנחה</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type folder">
                  <p>אישור / תעודה</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">אישור מסירה של דואר ר…</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>18.02.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>אישור מסירה של דואר ר…</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
            <li class="files-table__list-item">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type pdf">
                  <p>מכתב</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">זכאות להנחה</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>14.03.2018</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>זכאות להנחה</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="files-table__bottom">
        <div class="files-table__count-select">
          <select name="" id="">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
        <div class="files-table__pagination">
          <a href="#" class="files-table__to-end files-table__to-end-next">
            <img src="/assets/img/arrow-next-to-end.svg" alt="">
          </a>
          <div class="files-table__pages">
            <a href="#" class="files-table__next files-table__nav-btn">
              <img src="/assets/img/right-arrow-next.svg" alt="">
            </a>
            <a href="#" class="files-table__page">5</a>
            <a href="#" class="files-table__page">4</a>
            <a href="#" class="files-table__page">3</a>
            <a href="#" class="files-table__page">2</a>
            <a href="#" class="files-table__page current">1</a>
            <a href="#" class="files-table__prev files-table__nav-btn disabled">
              <img src="/assets/img/right-arrow-next.svg" alt="">
            </a>
          </div>
          <a href="#" class="files-table__to-end files-table__to-end-prev disabled">
            <img src="/assets/img/arrow-next-to-end.svg" alt="">
          </a>
        </div>

        <div class="files-table__description">
          <p>10 100 רשומות מתוך</p>
        </div>
      </div>
    </div>
   


    <p>
      <a class="updates-link" href="">לכל העדכונים</a>
    </p>
    <div class="bottom">
      <img src="/assets/img/tree-bottom.png" alt="" />
    </div>
  </div>
</div>
