<div class="wrapper">
  <div class="container">
    <div class="files-table-section">
      <div class="files-table">
        <div class="files-table__header">
          <div class="files-table__header-item arrow">
            <p (click)="sortBy('type')">סוג</p>
            <div class="files-table__header-item-dropdown">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_1" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_1" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_2" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_2" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_3" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_3" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_4" class="checkbox__input" type="checkbox" value="4" name="form[]">
                    <label for="c_4" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p (click)="sortBy('filename')">שם הקובץ</p>
            <div class="files-table__header-item-dropdown">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_5" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_5" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_6" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_6" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_7" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_7" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p (click)="sortBy('year')">תאריך יצירה</p>
            <div class="files-table__header-item-dropdown">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper input-wrapper_date">
                    <input type="date" class="date" id="files-table__header-date">
                  </label>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item arrow">
            <p (click)="sortBy('contactname')">שם המחבר</p>
            <div class="files-table__header-item-dropdown">
              <div class="files-table__header-item__dropdown-body">
                <form action="#">
                  <label for="files-table__header-search" class="input-wrapper">
                    <input type="text" id="files-table__header-search">
                  </label>
                  <div class="checkbox">
                    <input id="c_8" class="checkbox__input" type="checkbox" value="1" name="form[]">
                    <label for="c_8" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_9" class="checkbox__input" type="checkbox" value="2" name="form[]">
                    <label for="c_9" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                  <div class="checkbox">
                    <input id="c_10" class="checkbox__input" type="checkbox" value="3" name="form[]">
                    <label for="c_10" class="checkbox__label"><span class="checkbox__text">Текст</span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="files-table__header-item">
            <p>פעולות</p>
          </div>
        </div>
        <div class="files-table__body">
          <ul class="files-table__list">
            <li class="files-table__list-item" *ngFor="let objectItem of objectItems">
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-type" [ngClass]="objectItem.type">
                  <p>{{objectItem.type}}</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-name">
                  <a href="#">{{objectItem.filename}}</a>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-date">
                  <p>{{objectItem.year}}</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-author">
                  <p>{{objectItem.contactname}}</p>
                </div>
              </div>
              <div class="files-table__list-item-column">
                <div class="files-table__list-item-actions">
                  <button>
                    <img src="/assets/img/Icon-md-eye.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/download.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/material-edit.svg" alt="">
                  </button>
                  <button>
                    <img src="/assets/img/trash-can.svg" alt="">
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="files-table__bottom">
        <div class="files-table__count-select">
          <select name="" id="">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
        <div class="files-table__pagination">
          <a href="#" class="files-table__to-end files-table__to-end-next">
            <img src="/assets/img/arrow-next-to-end.svg" alt="">
          </a>
          <div class="files-table__pages">
            <a href="#" class="files-table__next files-table__nav-btn">
              <img src="/assets/img/right-arrow-next.svg" alt="">
            </a>
            <a href="#" class="files-table__page">5</a>
            <a href="#" class="files-table__page">4</a>
            <a href="#" class="files-table__page">3</a>
            <a href="#" class="files-table__page">2</a>
            <a href="#" class="files-table__page current">1</a>
            <a href="#" class="files-table__prev files-table__nav-btn disabled">
              <img src="/assets/img/right-arrow-next.svg" alt="">
            </a>
          </div>
          <a href="#" class="files-table__to-end files-table__to-end-prev disabled">
            <img src="/assets/img/arrow-next-to-end.svg" alt="">
          </a>
        </div>

        <div class="files-table__description">
          <p>10 100 רשומות מתוך</p>
        </div>
      </div>
    </div>
  </div>
</div>
